<ul class="w-40">
    <li>
        <a routerLink="/feed/top" routerLinkActive="activeLink">Top</a>
    </li>
    <li>
        <a routerLink="/feed/new" routerLinkActive="activeLink">New</a>
    </li>
    <li>
        <a routerLink="/feed/best" routerLinkActive="activeLink">Best</a>
    </li>
    <li>
        <a routerLink="/feed/ask" routerLinkActive="activeLink">Ask</a>
    </li>
    <li>
        <a routerLink="/feed/show" routerLinkActive="activeLink">Show</a>
    </li>
    <li>
        <a routerLink="/feed/job" routerLinkActive="activeLink">Job</a>
    </li>
</ul>